:root {
  --primary-brand: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --accent: #e7e9fc;
  --subtlr-text: #8e8f99;
  --light: #f4f4fd;
  --button-active: #404bbf;
  --white-texcolor: #ffffff;
  --modal-bg: #fcfcfc;
  --timing-funcion: cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;

  outline: 2px solid tomato;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--dark);
  background-color: var(--white-texcolor);
}

/* -----Header----- */

.header {
  
  letter-spacing: 0.03em;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;

  background-color: #31d0aa;
}

.header-item{
  
  background-color: tomato;
  
}



.header-logo {
  display: flex;
  margin-right: 76px;


  flex-direction: row;
align-items: center;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  list-style: none;
  text-decoration: none;
  color: var(--dark);
}

.header-logo-web {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}


.header-container{
  display: flex;
  align-items: center;
}

.header-nav {
display: flex;
align-items: center;
  
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.link {
  text-decoration: none;
  color: var(--text);
}

.header-item :hover,
.header-item :focus {
  color: var(--primary-brand);
}

.header-list{
  display: flex;
  gap: 40px;
  align-items: center;
}

.address {
  margin-left: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

.address-item :hover,
.address-item :focus {
  color: var(--primary-brand);
}
.address-list{
  display: flex;
  gap: 40px;
  align-items: center;
  
  
}


/* Hero */

.hero-title {
  background-color: var(--dark);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 188px;
  padding-bottom: 188px;
}
.hero-item {
  max-width: 496px;
  text-align: center;
  margin: 0 auto;
  
  margin-bottom: 48px;
  
  color: var(--white-texcolor);
  font-weight: 700;
  font-size: 56px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  
}

.button {
  font-family: inherit;
  color: var(--accent);
  background-color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 16px 32px 16px 32px;
  display: inline;
  min-width: 169px 56 px;
}
.button:hover,
.button:focus {
  color: var(--accent);
  background-color: var(--button-active);
}

/* Section Principle */
.principle {
  padding: 120px 0;
}

.principle-visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.principle-title {
  margin-bottom: 8px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  font-weight: 500;

}

.desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  
}
.principle-list{
  display: flex;
  align-items: start;
  gap: 30px;
  
}

/* Section work */

.work-caption,
.team-caption {
  text-align: center;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.work {
  padding: 120px 0;
}
.work-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.work-item{
  flex-basis: calc((100%-48px)/3);
}

/* Section Our team */

.team {
  padding-bottom: 120px ;
  background-color: var(--light);
}
.team-caption{
  padding-top: 120px;
}


.picture {
  margin: 0;
  margin-bottom: 32px;
}
.name {
  margin: 32px 0 8px 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  
}

.position {
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.team-item{
  width: 264px;
  height: 380px;
  background-color: var(--white-texcolor);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}

.team-list{
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
} 

/* Footer */

.footer {
  
  margin: 0;
  padding: 100px 0;
  background-color: var(--dark);
  
}

.footer-logo {
  display: flex;
  justify-content: flex-start;

  padding-bottom: 16px;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  list-style: none;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-texcolor);
  list-style: none;
  text-decoration: none;
}

.footer-logo-web {

  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
}

.footer-text {
  margin: 0;
  text-align: left;
  color: var(--accent);
  width: 264px;

}

/*--------------------------------------- Portfolio----------------------- */

/* Button */


.portfolio-btn {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  background-color: var(--accent);
  color: var(--primary-brand);
  border: 1px solid var(--accent);
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  display: inline;
  min-width: 69px;
  background-color: tomato;

}

.filters{
  padding: 61px 0;
}
.filters-list{
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 138px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--button-active);
  color: var(--accent);
  border-color: transparent;
}
.filters-list {

  background-color: tomato;
}
.button-item {
  list-style: none;
}
/* -----Project card */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.project-list{
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 48px;
  column-gap: 24px;
  flex-basis: calc((100% - 48px) / 3);
}

.project-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-decoration: none;
  margin: 32px 0 8px 16px;
}

.project-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  margin-left: 16px;
  background-color: tomato;
}
.project-item {
  list-style: none; 
  /* flex-basis: calc((100%-2*24px)/3); */
} 

.project-card-content {
  width: 360px;
  padding: 32px 16px 32px;
  border-left: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}

